@using ModelEF.DAO;
@{ 
    var dao = new categoryDao();
    var model = dao.getAllCategory("");
    var prDao = new productDao();
}
<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var item in model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#@item.id">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        @item.name
                    </a>
                </h4>
            </div>

            <div id="@item.id" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        @foreach (var i in prDao.GetAllProducts_Type(item.id))
                        {
                            <li><a href="#">@i.Name</a></li>
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
